<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="0.1.0">
	<dict>
		<key>BundleDisplayName</key>
		<string>digitalSTROM</string>
		<key>CFBundleIdentifier</key>
		<string>ch.futurelab.dizmo.digitalstrom.activities</string>
		<key>BundleIdentifier</key>
		<string>ch.futurelab.dizmo.digitalstrom.activities</string>
		<key>BundleName</key>
		<string>digitalSTROM - Activities</string>
		<key>BundleShortVersionString</key>
		<string>1.0</string>
		<key>BundleVersion</key>
		<string>1.0</string>
		<key>Height</key>
		<integer>268</integer>
		<key>ApiVersion</key>
		<string>1.2</string>
		<key>MainHTML</key>
		<string>activities.html</string>
		<key>Width</key>
		<integer>256</integer>
		<key>HiddenDizmo</key>
		<true/>
	</dict>
</plist>
